<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Erro - 404</title>
</head>
<body>
    <div class="container">
        <h1>Erro 404 not found</h1>
        <p class="text-danger">Página não encontrada, volte para página inicial com o link a baixo</p>
        <a class="text-decoration-none" href="/">Voltar</a>
    </div>
    
</body>
</html>